<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.0">	
	<title></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="content">
	<div id="header"></div>
	<ul id="people"></ul>
</div>
<script id="header-template" type="text/html">
	<div id="intro">
		<h1>Hello</h1>
		<p>The Post is at <%= config.conference %>. Let's meet.</p>
	</div>
	<% if ( config.meeting ) { %>
		<div id="time">
			<p><%= config.meeting %></p>
		</div>
	<% } %>
</script>
<script id="people-template" type="text/html">
 	<% _.each( people, function( person ) { %>
 	<li class="cf">
 		<% if ( person.photo ) { %>
 		<div class="image-holder"><img alt="<%= person.name %>" src="<%= person.photo %>"></div>
 		<% } %>
 		<h3>
 			<%= person.name %>
 			<% if ( person.twitter ) { %>
 			<a alt="<%= person.name %> on twitter" href="http://twitter.com/<%= person.twitter %>"><i class="icon-twitter"></i></a>
 			<% } %>
 		</h3>
 		<h6><%= person.position %></h6>
 		<% if ( person.talk1 ) { %>
			<h5><a class="talks-open" href="javascript:void(0);">See my talks <i class="icon-chevron-down"></i></a></h5>
			<ul class="talks">
				<li><a alt="<%= person.talk1 %>" href="<%= person.talk1link %>"><%= person.talk1 %></a></li>
				<% if ( person.talk2 ) { %><li><a alt="<%= person.talk2 %>" href="<%= person.talk2link %>"><%= person.talk2 %></a></li><% } %>
				<% if ( person.talk3 ) { %><li><a alt="<%= person.talk3 %>" href="<%= person.talk3link %>"><%= person.talk3 %></a></li><% } %>				
			</ul>
 		<% } %>
 	</li>
 	<% } ); %>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="js/lib/tabletop/backbone.tabletopSync.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.1.0/tabletop.min.js"></script>
<script src="js/app-config.js"></script>
<script src="js/app.js"></script>
</body>
</html>